---
title: House M.D. Memes
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="glass-container">
<h1>Welcome!</h1>
<p>The purpose of this website is to share AI generated memes based on the tv show House M.D.</p>
<p>Each meme was created using Google Gemini.</p>
<p>I have ranked each meme based on relevancy to the show, how accurate Gemini was with generation, and how funny I found them.</p>
</div>

{% for post in collections.posts %}
  {% if post.data.featured %}
    <div class="featured-post">
      <h2>✨ Featured Post ✨</h2>
      <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      <p>{{ post.data.description }}</p>
      <a href="{{ post.url }}" class="featured-read-more">Read More →</a>
    </div>
  {% endif %}
{% endfor %}
 
<div class="suggestion-box">
  <h2>Contact Me</h2>
  <form class="comment-box" method="POST" data-netlify="true">
    <label for="comment-name">Name</label>
    <input type="text" id="comment-name" name="name" placeholder="Your name">

		<label for="email">Email</label>
		<input type="text" id="comment-email" email="email" placeholder="Your email">

    <label for="comment-message">Comments</label>
    <textarea id="comment-message" name="message" rows="4" placeholder="I too am in this comment section"></textarea>
		
    <button type="submit">Submit</button>
  </form>
</div>


