---
title: House M.D. Memes
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>House M.D.</h1>
<p>The purpose of this website is to share AI generated memes based on the tv show House M.D.</p>
<p>Each meme was created using Google Gemini.</p>
<p>I have ranked each meme based on relevancy to the show, how accurate Gemini was, and how funny I found them.</p>

