---
title: House M.D. Memes
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Welcome!</h1>
<p>The purpose of this website is to share AI generated memes based on the tv show House M.D.</p>
<p>Each meme was created using Google Gemini.</p>
<p>I have ranked each meme based on relevancy to the show, how accurate Gemini was with generation, and how funny I found them.</p>
<p>Each rating is based on a scale of 1 to 10. 10 being the highest possible score, 1 being the lowest. </p>


